@import "../../global.scss";

.portfolioList{
    font-size: 18px;
    margin-right: 25px;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;

    @include mobile{
        margin-right: 20px;
    }

    &.active{
       background-color: $secColor;
       color: white;
    }
}